<main class="center" id="main">

  <!-- HTML Semantic change made here -->
  <section class="page-area">

      <app-article>
          <slot-h1>Stay on track</slot-h1>
          <slot-p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </slot-p>
      </app-article>

      <app-article>
          <slot-h1>Alerts</slot-h1>
          <slot-p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </slot-p>
      </app-article>

      <!-- SEO optimization done here -->
      <app-article itemscope itemtype="https://schema.org/result">
          <slot-h1>Results</slot-h1>
          <slot-p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </slot-p>
      </app-article>

      <!-- SEO optimization done here -->
      <app-article itemscope itemtype="https://schema.org/free">
          <slot-h1>Free</slot-h1>
          <slot-p>
              This app is free!!! And you are the only one holding your data!
          </slot-p>
      </app-article>

      <app-article>
          <slot-h1>Stay on track</slot-h1>
          <slot-p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </slot-p>
      </app-article>

      <app-article>
          <slot-h1>Alerts</slot-h1>
          <slot-p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </slot-p>
      </app-article>

      <!-- SEO optimization done here -->
      <app-article itemscope itemtype="https://schema.org/result">
          <slot-h1>Results</slot-h1>
          <slot-p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </slot-p>
      </app-article>

      <article>
          <h1>Chart</h1>
          <p>
              <canvas id="myChart"> {{chart}} </canvas>
          </p>
      </article>

      <article>
          <h1>D3Chart</h1>
          <p>
              <div id="myD3Chart"></div>
          <!-- </p> -->
      </article>

  </section>

</main>
